@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: container;
}

@media (max-with: 576px) : {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}

/* Adding Directives */
.section-container {
  @apply max-w-6xl mx-auto px-10 text-center;
}

.section-content {
  @apply max-w-3xl mx-auto text-xl leading-9 text-center text-grayishBlue;
}

.button-container {
  @apply flex flex-col w-full justify-center text-xl space-y-6 md:flex-row md:space-y-0 md:space-x-4;
}

.btn {
  @apply p-4 px-8 rounded-full shadow-lg text-white duration-200 hover:opacity-80;
}

@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
  }
  h5 {
    @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
  }
}
